@page "/settings"



<div>
    <li>
        <lo>
            <button>
                Privacy
            </button>
        </lo>
        <lo>
            <button>
                
            </button>
        </lo>
    </li>
</div>

@code {
    
}