.content[b-btpfqzbffu]{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 1000px;
}

.card[b-btpfqzbffu]{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}
[b-btpfqzbffu]::-webkit-scrollbar{
    width: 9px;
}
[b-btpfqzbffu]::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 15px;
}
input[b-btpfqzbffu] {
    border: 1px solid #ccc;
    border-radius: 2px;
    /*padding: 1rem;*/
    width: 100%;
}

label[b-btpfqzbffu] {
    display: block;
    margin-bottom: 0.5rem;
}
.description[b-btpfqzbffu]{
    display: block;
    margin-bottom: 0.5rem;
    height: 200px;
}
button[b-btpfqzbffu] {
    background-color: inherit;
    width: calc(30% + 20px);
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

button:hover[b-btpfqzbffu] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}

p[b-btpfqzbffu]{
    color: white;
}
h1[b-btpfqzbffu], h2[b-btpfqzbffu], h3[b-btpfqzbffu], h4[b-btpfqzbffu], h5[b-btpfqzbffu], h6[b-btpfqzbffu]
{
    color: white;
}

#body[b-btpfqzbffu]{
    height: 200px;
    border: solid 1px white;
}
.flexColumn[b-btpfqzbffu]
{
    display: flex;
    align-content: center;
}

.messageBox[b-btpfqzbffu]{
    margin: 40px auto;
    width: 70%;
}
#messageh5[b-btpfqzbffu]{
    margin-bottom: 10px;
}
#messageBody[b-btpfqzbffu]
{
    height: 100px;
}
#messageButton[b-btpfqzbffu]{
    position: relative;
    right: 0;
}