.content[b-638owfp8gd]{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card[b-638owfp8gd]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}

.card div[b-638owfp8gd] {
    padding: 1rem;
}

input[b-638owfp8gd] {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1rem;
    width: 100%;
}

label[b-638owfp8gd] {
    display: block;
    margin-bottom: 0.5rem;
}

.changeButtonButton[b-638owfp8gd]{
    display: flex;
    justify-content: center;
    align-content: center;
}


button[b-638owfp8gd] {
    background-color: inherit;
    width: 40rem;
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);

}

button:hover[b-638owfp8gd] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}


@media (max-width: 1440px) {
    .card[b-638owfp8gd]{
        width: 100%;
        height: 500px;
    }

}

