.notification-content[b-amt7uxjkk8]{
    position: absolute;
    top: 80%;
    left: 75%;
}

.notification-box[b-amt7uxjkk8]{
    display: flex;
    width: 350px;
    height: auto;
    color: white;
    padding: 2%;
    flex-direction: column;
    border-radius: 10px;
}
.notification-content button[b-amt7uxjkk8]{
    align-self: flex-start;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: white;
}

p[b-amt7uxjkk8]{
    font-size: calc(15px + 0.34vh);
    margin: 1%;
}

.ConfirmationBox[b-amt7uxjkk8]{
    background-color: green;
}

.ErrorBox[b-amt7uxjkk8]{
    background-color: darkred;
}

.appear[b-amt7uxjkk8]{
    animation-name: appearNotification-b-amt7uxjkk8;
    animation-duration: 0.5s;
}

@keyframes appearNotification-b-amt7uxjkk8 {
    from{
        left: 80%;
        opacity: 0.5;
    }
    to{
        left: 75%;
        opacity: 0.8;
    }
}