.content[b-rejosl2h7o]{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card[b-rejosl2h7o]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}

.card div[b-rejosl2h7o] {
    padding: 1rem;
}

.submitButton[b-rejosl2h7o]{
    display: flex;
    justify-content: center;
    align-content: center;
}

button[b-rejosl2h7o] {
    background-color: inherit;
    width: calc(30% + 20px);
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

button:hover[b-rejosl2h7o] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}

input[b-rejosl2h7o], select[b-rejosl2h7o], option[b-rejosl2h7o]{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1rem;
    width: 100%;
}

label[b-rejosl2h7o] {
    display: block;
    margin-bottom: 0.5rem;
}

