.box[b-vtfvhyjmbz] {
    height: auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    color: white;
    flex-direction: column;
}

select[b-vtfvhyjmbz]{
    border: transparent;
    border-radius: 2px;
    padding: 1rem;
    background-color: transparent;
    font-size: calc(15px * 0.4vw);
    font-weight: 400;
    color: white;
}

select option[b-vtfvhyjmbz]{
    color: black;
}

.box-info[b-vtfvhyjmbz]{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.balance[b-vtfvhyjmbz] {
    text-align: left;
    width: 49%;
    font-size: calc(16px + 0.4vw);
}

.box-buttons[b-vtfvhyjmbz]{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(20, 20, 20);
    width: 20%;
    padding: 10px;
}

.buttons-content[b-vtfvhyjmbz]{
    float: right;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 100%;
    justify-content: flex-end;
}

.userDetailsButton[b-vtfvhyjmbz]{
    text-decoration: none;
    align-self: flex-end;
    justify-self: flex-end;
    height: auto;
    padding: 2%;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.2s;
    width: 100%;
}

.box-buttons:hover[b-vtfvhyjmbz] {
    background-color: #420000;
    transition: 0.2s;
}


@media (min-width: 1441px) {
    .box[b-vtfvhyjmbz]{
        width: 50%;
    }
    .box-buttons[b-vtfvhyjmbz]{
        width: 25%;
    }
}

@media (max-width: 1440px) {
    .box[b-vtfvhyjmbz]{
        width: 98%;
    }
    .box-buttons[b-vtfvhyjmbz]{
        width: 50%;
    }
}