@using System.Security.Claims

<div class="content">
    
    <div class="card">
        <div>
            <label>Type your old password </label>
            <input type="text" placeholder="Old password" @bind="password">
        </div>
        <div>
            <label>Type your new password </label>
            <input type="password" placeholder="New password">
        </div>
         <div>
                    <label>Confirm your new password </label>
                    <input type="password" placeholder="Confirm new password" >
                </div>
        <div class="changeButton">
            <button >Change password</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public ClaimsPrincipal User { get; set; }
    [Parameter]public LoadingBox Loading { get; set; }
    private string email;
    private string password;
}