@using System.Security.Claims
@using Blazor.Services
@using global::Shared.Models
@using Newtonsoft.Json
@inject ISettingsService settingsService

<div class="content">
    
    <div class="card">
        <div>
            <label>Type your old password </label>
            <input type="text" placeholder="Old password" @bind="oldpass">
        </div>
        <div>
            <label>Type your new password </label>
            <input type="password" placeholder="New password" @bind="newpass">
        </div>
         <div>
                    <label>Confirm your new password </label>
                    <input type="password" placeholder="Confirm new password" @bind="newpass1" >
                </div>
        <div class="changeButton">
            <button @onclick="UpdatePass" >Change password</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public ClaimsPrincipal User { get; set; }
    [Parameter]public LoadingBox Loading { get; set; }
    [Parameter] public string Email { get; set; }
    private List<AccountsInfo> Users { get; set; }

    [Parameter] public string Role { get; set; }
    private string email;
    private string oldpass;
    private string newpass;
    private string newpass1;

    
    protected override async Task OnInitializedAsync()
    {

        Users = await GetUserAccounts(User);
        Email = User.FindFirst("Email").Value;
        Role = User.FindFirst(ClaimTypes.Role).Value;

    }
    private Task<List<AccountsInfo>> GetUserAccounts(ClaimsPrincipal user)
    {
        var accountsClaim = user.FindFirst("Accounts");

        try
        {
            List<AccountsInfo> accounts = JsonConvert.DeserializeObject<List<AccountsInfo>>(accountsClaim!.Value)!;
            return Task.FromResult(accounts);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
    
    private async Task UpdatePass()
    {
        if (newpass.Equals(newpass1))
        {
            try
            {
                
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                throw;
            }
            
        }
    }
}