

@if (showPopUp)
{
    <div class="content">
        <div class="card">
            <div class="loadingCircle"></div>
            <p class="LoadingText">Loading...</p>
        </div>
    </div>
}



@code {
    private bool showPopUp = false;
    
    
    public void ShowLoading()
    {
        showPopUp = true;
        StateHasChanged();
    }

    public void CloseLoading()
    {
        showPopUp = false;
    }
}