@if (showPopUp)
{
    <div class="notification-content @Appear">
        @if (NotificationType.Equals(ConfirmationTransfer))
        {
            <div class="notification-box ConfirmationBox ">
                <button class="" @onclick="() => HideNotification()">
                    X
                </button>
                <p>@ChildContent</p>
            </div>
        }
        else if (NotificationType.Equals(ErrorTransfer))
        {
            <div class="notification-box ErrorBox ">
                <button class="" @onclick="() => HideNotification()">
                    X
                </button>
                <p>@ChildContent</p>
                <p>@ErrorMessage</p>
            </div>
        }
    </div>
}



@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
    [Parameter] public string NotificationType { get; set; }

    private string Appear => showPopUp ? "appear" : null;

    private bool showPopUp = false;

    public string ErrorMessage { get; set; }
    
    private static string ErrorTransfer = "Error";
    private static string SuccessTransfer = "Success";
    private static string ConfirmationTransfer = "Confirmation";

    

    public async Task ShowNotification()
    {
        showPopUp = true;
    }

    public async Task ShowErrorNotification(string msg)
    {
        ErrorMessage = msg;
        showPopUp = true;
    }

    public void HideNotification()
    {
        showPopUp = !showPopUp;
    }
    
}