.notification-content{
    position: absolute;
    top: 80%;
    left: 75%;
}

.notification-box{
    display: flex;
    width: 350px;
    height: auto;
    color: white;
    padding: 2%;
    flex-direction: column;
    border-radius: 10px;
}
.notification-content button{
    align-self: flex-start;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: white;
}

p{
    font-size: calc(15px + 0.34vh);
    margin: 1%;
}

.ConfirmationBox{
    background-color: green;
}

.ErrorBox{
    background-color: darkred;
}

.appear{
    animation-name: appearNotification;
    animation-duration: 0.5s;
}

@keyframes appearNotification {
    from{
        left: 80%;
        opacity: 0.5;
    }
    to{
        left: 75%;
        opacity: 0.8;
    }
}