@using Blazor.Services.Http
@using global::Shared.DTOs
@inject ITransactionService transactionService


<div class="transaction-box">
    <div class="leftPart">
        <p class="title">@senderName</p>
        <p class="time">@Date.Hour:@Date.Minute</p>
        <p class="date">@Date.Day/@Date.Month/@Date.Year</p>
    </div>
    <div class="midPart">
        <p class="message">@Message</p>
    </div>
    <div class="rightPart">
        @if (sign.Equals("+"))
        {
            <p style="color: green">@sign@Amount DKK</p>
        }
        else
        {
            <p style="color: red;">@sign@Amount DKK</p>
        }
        <AuthorizeView Policy="MustBeEmployee">
            <button @onclick="() => FlagUser(SenderId)">Flag Sender</button>
        </AuthorizeView>
    </div>
</div>

@code {
    [Parameter] public string Recipient { get; set; }
    [Parameter] public string Sender { get; set; }
    [Parameter] public double Amount { get; set; }
    [Parameter] public string Message { get; set;}
    [Parameter] public DateTime Date { get; set; }
    [Parameter] public int SenderId { get; set; }
    [Parameter] public string SenderAccountNumber { get; set; }
    [Parameter] public string TransactionType { get; set; }

    private string senderName;
    private string type = "";
    private string sign;
    
    protected override async Task OnInitializedAsync()
    {
        senderName = await CheckName();
    }

    private async Task<string> CheckName()
    {
        if (TransactionType != null)
        {
            if (TransactionType.Equals("Deposit"))
            {
                sign = "+";
                return "Deposit";
            }
            if (TransactionType.Equals("Interest"))
            {
                sign = "+";
                return "Interest";
            }
        }
    
        sign = "-";
        return $"To {Recipient}";
    }

    protected async Task FlagUser(int id)
    {
        FlagUserDto dto = new FlagUserDto
        {
            SenderId = id
        };
        await transactionService.FlagUser(dto);
    }
    
    
    
    

}