.box {
    height: auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    color: white;
    flex-direction: column;
}

.box-info{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.balance {
    text-align: left;
    width: 49%;
    font-size: calc(16px + 0.4vw);
}

.box-transfer{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(20, 20, 20);
}

.transferButton{
    text-decoration: none;
    align-self: flex-end;
    justify-self: flex-end;
    height: auto;
    padding: 2%;
    color: white;
    background-color: rgb(27, 27, 27);
    border: none;
    border-left: 1px solid rgb(20, 20, 20);
    transition: 0.2s;
    width: 100%;
}

.transferButton:hover {
    background-color: #420000;
    transition: 0.2s;
}


@media (min-width: 641px) {
    .box{
        width: 50%;
    }
    .transferButton{
        width: 25%;
    }
}

@media (max-width: 640px) {
    .box{
        width: 98%;
    }
    .transferButton{
        width: 50%;
    }
}