/* _content/Blazor/Components/RecentTransactions.razor.rz.scp.css */
.box[b-j9zj3dox54]{
    margin-top: 5%;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    color: white;
    flex-direction: column;
}

.box-options[b-j9zj3dox54]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 0 2%;
}

.optionsText[b-j9zj3dox54] {
    text-align: center;
    font-size: calc(18px + 0.3vh);
    width: 50%;
    justify-self: flex-start;
}

.optionsButton[b-j9zj3dox54] {
    color: white;
    background-color: inherit;
    border: none;
    width: 20%;
    text-align: center;
    transition: 0.2s ease-in-out;
    justify-self: flex-end;
}

.optionsButton:hover[b-j9zj3dox54]{
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

.transactions-list[b-j9zj3dox54]{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid rgb(20, 20, 20);
    padding: 2%;
    margin: 0;
}

.box-transactions[b-j9zj3dox54]{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transactionsButton[b-j9zj3dox54]{
    color: white;
    border: none;
    background-color: inherit;
    transition: 0.2s ease-in-out;
    padding: 2%;
    font-size: calc(15px + 0.4vh);
}

.transactionsButton:hover[b-j9zj3dox54]{
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

.empty-block[b-j9zj3dox54]{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyText[b-j9zj3dox54]{
    font-size: calc(14px + 00.3vh);
    color: grey;
    margin: 0;
    padding: 2%;
}

@media (min-width: 641px) {
    .box[b-j9zj3dox54]{
        width: 50%;
    }
}

@media (max-width: 640px) {
    .box[b-j9zj3dox54]{
        width: 98%;
    }
}
/* _content/Blazor/Components/UserDetails.razor.rz.scp.css */
.box[b-o1ibr4neq7] {
    height: auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    color: white;
    flex-direction: column;
}

.box-info[b-o1ibr4neq7]{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.balance[b-o1ibr4neq7] {
    text-align: left;
    width: 49%;
    font-size: calc(16px + 0.4vw);
}

.box-transfer[b-o1ibr4neq7]{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(20, 20, 20);
}

.transferButton[b-o1ibr4neq7]{
    text-decoration: none;
    align-self: flex-end;
    justify-self: flex-end;
    height: auto;
    padding: 2%;
    color: white;
    background-color: rgb(27, 27, 27);
    border: none;
    border-left: 1px solid rgb(20, 20, 20);
    transition: 0.2s;
    width: 100%;
}

.transferButton:hover[b-o1ibr4neq7] {
    background-color: #420000;
    transition: 0.2s;
}


@media (min-width: 641px) {
    .box[b-o1ibr4neq7]{
        width: 50%;
    }
    .transferButton[b-o1ibr4neq7]{
        width: 25%;
    }
}

@media (max-width: 640px) {
    .box[b-o1ibr4neq7]{
        width: 98%;
    }
    .transferButton[b-o1ibr4neq7]{
        width: 50%;
    }
}
/* _content/Blazor/Pages/Home.razor.rz.scp.css */
.content[b-kocgbznukq]{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
/* _content/Blazor/Pages/Index.razor.rz.scp.css */
.content[b-yc7mlmln1x] {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card[b-yc7mlmln1x] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.field[b-yc7mlmln1x] {
    margin-top: 20px;
}

.loginbtn[b-yc7mlmln1x] {
    background-color:lightgreen;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.loginbtn:hover[b-yc7mlmln1x]{
    transform: scale(1.1);
    box-shadow: 0 2px 10px 2px #3f3f3f;
}
/* _content/Blazor/Pages/LoginButtons.razor.rz.scp.css */
.icon[b-sejvdau62l] {
    width: 30px;
    cursor: pointer;
}
/* _content/Blazor/Pages/Settings.razor.rz.scp.css */
/* _content/Blazor/Pages/Transactions.razor.rz.scp.css */
.content[b-2rc8x72get]{
    display: flex;
    justify-content: center;
    align-content: center;
}
/* _content/Blazor/Pages/Transfer.razor.rz.scp.css */
.content[b-ka0uien0w6]{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card[b-ka0uien0w6]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}

.card div[b-ka0uien0w6] {
    padding: 1rem;
}

.submitButton[b-ka0uien0w6]{
    display: flex;
    justify-content: center;
    align-content: center;
}

button[b-ka0uien0w6] {
    background-color: inherit;
    width: calc(20% + 20px);
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

button:hover[b-ka0uien0w6] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}

input[b-ka0uien0w6] {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1rem;
    width: 100%;
}

label[b-ka0uien0w6] {
    display: block;
    margin-bottom: 0.5rem;
}
/* _content/Blazor/Shared/MainLayout.razor.rz.scp.css */
.page[b-qt6tgh2907] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(34, 34, 34) 0%, #420000 70%);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

main[b-qt6tgh2907] {
    flex: 1;
    height: auto;
    background-size: cover;
}

.sidebar[b-qt6tgh2907] {
    left: 20%;
}

.top-row[b-qt6tgh2907] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row a[b-qt6tgh2907], .top-row .btn-link[b-qt6tgh2907] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-qt6tgh2907] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-qt6tgh2907] {
        display: none;
    }

    .top-row.auth[b-qt6tgh2907] {
        justify-content: space-between;
    }

    .top-row a[b-qt6tgh2907], .top-row .btn-link[b-qt6tgh2907] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qt6tgh2907] {
        flex-direction: row;
    }

    .sidebar[b-qt6tgh2907] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qt6tgh2907] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-qt6tgh2907], article[b-qt6tgh2907] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Blazor/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-32xpj7b96w] {
    background-color: rgba(255, 255, 255, 0.1);
}


.top-row[b-32xpj7b96w] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    background-color: rgba(0,0,0,0.4);
}


.oi[b-32xpj7b96w] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-32xpj7b96w] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-32xpj7b96w] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-32xpj7b96w] {
        padding-bottom: 1rem;
    }

    .nav-item[b-32xpj7b96w]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-32xpj7b96w]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-32xpj7b96w]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.container-fluid[b-32xpj7b96w]{
    justify-content: flex-start;
}

.userName[b-32xpj7b96w]{
    color: white;
    font-size: calc(17px + 0.4vh);
    align-content: center;
    margin-top: 1rem;
}

.avatar[b-32xpj7b96w]{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


@media (min-width: 641px) {
    .navbar-toggler[b-32xpj7b96w] {
        display: none;
    }

    .collapse[b-32xpj7b96w] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-32xpj7b96w] {
        /* Allow sidebar to scroll for tall menus */
        height: 100vh;
        overflow-y: auto;
    }
    
    .container-fluid[b-32xpj7b96w]
    {
        justify-content: flex-start;
    }
    
}

@media (max-width: 640px) {
    .container-fluid[b-32xpj7b96w]{
        padding: 0;
        justify-content: space-evenly;
    }
    .top-row[b-32xpj7b96w]{
        width: 100%;
    }
    .userName[b-32xpj7b96w]{
        margin-left: 1%;
    }
    
}
