/* _content/Blazor/Components/Changepasswordform.razor.rz.scp.css */
.content[b-638owfp8gd]{
/* _content/Blazor/Components/DepositForm.razor.rz.scp.css */
.content[b-sec5sa2xsu]{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card[b-sec5sa2xsu]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}

.card div[b-638owfp8gd] {
    padding: 1rem;
}

input[b-638owfp8gd] {
.card div[b-sec5sa2xsu] {
    padding: 1rem;
}

input[b-sec5sa2xsu] {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1rem;
    width: 100%;
}

label[b-sec5sa2xsu] {
    display: block;
    margin-bottom: 0.5rem;
}

.submitButton[b-sec5sa2xsu]{
    display: flex;
    justify-content: center;
    align-content: center;
}


button[b-638owfp8gd] {
    background-color: inherit;
    width: 40rem;
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);

}

button:hover[b-638owfp8gd] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}


@media (max-width: 1440px) {
    .card[b-638owfp8gd]{
        width: 100%;
        height: 500px;
    }

}

/* _content/Blazor/Components/DepositForm.razor.rz.scp.css */
.content[b-sec5sa2xsu]{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card[b-sec5sa2xsu]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}

.card div[b-sec5sa2xsu] {
    padding: 1rem;
}

input[b-sec5sa2xsu] {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1rem;
    width: 100%;
}

label[b-sec5sa2xsu] {
    display: block;
    margin-bottom: 0.5rem;
}

.submitButton[b-sec5sa2xsu]{
    display: flex;
    justify-content: center;
    align-content: center;
}


button[b-sec5sa2xsu] {
    background-color: inherit;
    width: calc(30% + 20px);
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

button:hover[b-sec5sa2xsu] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}
/* _content/Blazor/Components/IssueContainer.razor.rz.scp.css */
.card[b-53fj11847i]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}
/* _content/Blazor/Components/LoadingBox.razor.rz.scp.css */
.content[b-jg5guto5ts] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
}


.card[b-jg5guto5ts]{
    background-color: rgba(0,0,0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.LoadingText[b-jg5guto5ts]{
    font-size: calc(30px + 0.34vh);
    color: white;
}

.loadingCircle[b-jg5guto5ts]
{
    width: 100px;
    height: 100px;
    margin: 2%;
    border-top: 0;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-radius: 50%;
    animation-name: circleRotate-b-jg5guto5ts;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes circleRotate-b-jg5guto5ts {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
/* _content/Blazor/Components/LoanForm.razor.rz.scp.css */
.content[b-7z0tjk0njp]{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card[b-7z0tjk0njp]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}

.card div[b-7z0tjk0njp] {
    padding: 1rem;
}

.submitButton[b-7z0tjk0njp]{
    display: flex;
    justify-content: center;
    align-content: center;
}

button[b-7z0tjk0njp] {
    background-color: inherit;
    width: calc(30% + 20px);
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

button:hover[b-7z0tjk0njp] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}

input[b-7z0tjk0njp], select[b-7z0tjk0njp], option[b-7z0tjk0njp]{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1rem;
    width: 100%;
}

label[b-7z0tjk0njp] {
    display: block;
    margin-bottom: 0.5rem;
}
/* _content/Blazor/Components/Notification.razor.rz.scp.css */
.notification-content[b-amt7uxjkk8]{
    position: absolute;
    top: 80%;
    left: 75%;
}

.notification-box[b-amt7uxjkk8]{
    display: flex;
    width: 350px;
    height: auto;
    color: white;
    padding: 2%;
    flex-direction: column;
    border-radius: 10px;
}
.notification-content button[b-amt7uxjkk8]{
    align-self: flex-start;
    border: none;
    background-color: transparent;
    font-weight: 600;
    color: white;
}

p[b-amt7uxjkk8]{
    font-size: calc(15px + 0.34vh);
    margin: 1%;
}

.ConfirmationBox[b-amt7uxjkk8]{
    background-color: green;
}

.ErrorBox[b-amt7uxjkk8]{
    background-color: darkred;
}

.appear[b-amt7uxjkk8]{
    animation-name: appearNotification-b-amt7uxjkk8;
    animation-duration: 0.5s;
}

@keyframes appearNotification-b-amt7uxjkk8 {
    from{
        left: 80%;
        opacity: 0.5;
    }
    to{
        left: 75%;
        opacity: 0.8;
    }
}
/* _content/Blazor/Components/PopUp.razor.rz.scp.css */
/* This code has been copied from our DNP Assignment, as we need this functionality here */
.modal-background[b-wdyjovh819] { /* This style class makes the background darker, and un-clickable */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.47); /* Black w/ opacity */
    display:block;
}

/* Modal Content/Box */
.modal-box[b-wdyjovh819] {
    position: relative;
    left: 15%;
    background-color: black;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000000;
    /*display:inline-block;*/
    width: 50%; /* Could be more or less, depending on screen size */
    min-width: 300px;
    border-radius: 25px;
    box-shadow: 0 5px 30px 15px #3f3f3f;
}
p[b-wdyjovh819]{
    color: white;
}
h1[b-wdyjovh819], h2[b-wdyjovh819], h3[b-wdyjovh819], h4[b-wdyjovh819], h5[b-wdyjovh819], h6[b-wdyjovh819]
{
    color: white;
}
/* _content/Blazor/Components/RecentTransactions.razor.rz.scp.css */
.box[b-j9zj3dox54]{
    margin-top: 5%;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    color: white;
    flex-direction: column;
}

.box-options[b-j9zj3dox54]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 0 2%;
}

.optionsText[b-j9zj3dox54] {
    text-align: center;
    font-size: calc(18px + 0.3vh);
    width: 50%;
    justify-self: flex-start;
}

.optionsButton[b-j9zj3dox54] {
    color: white;
    background-color: inherit;
    border: none;
    width: 20%;
    text-align: center;
    transition: 0.2s ease-in-out;
    justify-self: flex-end;
}

.optionsButton:hover[b-j9zj3dox54]{
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

.transactions-list[b-j9zj3dox54]{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid rgb(20, 20, 20);
    padding: 2%;
    margin: 0;
}

.box-transactions[b-j9zj3dox54]{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transactionsButton[b-j9zj3dox54]{
    color: white;
    border: none;
    background-color: inherit;
    transition: 0.2s ease-in-out;
    padding: 2%;
    font-size: calc(15px + 0.4vh);
}

.transactionsButton:hover[b-j9zj3dox54]{
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

.empty-block[b-j9zj3dox54]{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyText[b-j9zj3dox54]{
    font-size: calc(14px + 00.3vh);
    color: grey;
    margin: 0;
    padding: 2%;
}

@media (min-width: 1441px) {
    .box[b-j9zj3dox54]{
        width: 50%;
    }
}

@media (max-width: 1440px) {
    .box[b-j9zj3dox54]{
        width: 98%;
    }
}
/* _content/Blazor/Components/SettingsForm.razor.rz.scp.css */
.content[b-w89net84z8]{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card[b-w89net84z8]{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
    width: 40rem;
    color: white;
    padding: 5px;
    height: 8cm;
}

.card div[b-w89net84z8] {
    padding: 1rem;
}

label[b-w89net84z8] {
    display: block;
    margin-bottom: 0.5rem;
}

.user-details[b-w89net84z8]{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(20, 20, 20);
    margin: 0;
}

.empty-block[b-w89net84z8]{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyText[b-w89net84z8]{
    font-size: calc(14px + 00.3vh);
    color: grey;
    margin: 0;
    padding: 2%;
}

.userDetailsButton[b-w89net84z8]{
    display: flex;
    justify-content: center;
    align-content: center;
}
.btn-primary[b-w89net84z8]{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px auto;

}
.userPlansButton[b-w89net84z8]{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 20px auto;

}
.menu[b-w89net84z8] {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 40rem;
    color: white;
    padding: 5px;
    height: 7cm;
}
.plansBox[b-w89net84z8]{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    width: 40rem;
}
.plan[b-w89net84z8]{
    position: static;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.2s ease-in-out;
    width: 20rem;
}
.plan p[b-w89net84z8]{
    align-self: center;
    font-size: calc(14px + 0.4vw);
    color: white;
}
ul[b-w89net84z8]{
    list-style-type: none;
    color: white;
}
.plan button[b-w89net84z8]{
    border: 1px solid white;
    border-radius: 10px;
    font-size: calc(12px + 0.4vw);
    background-color: transparent;
    color: white;
    transition: 0.2s ease-in-out;
    width: 20rem;
}
.plan button:hover[b-w89net84z8]{
    color: black;
    background-color: white;
}
.plan:hover[b-w89net84z8]{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px white;
    z-index: 2;
}


button[b-w89net84z8] {
    background-color: rgb(27, 27, 27);
    width: 40rem;
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

button:hover[b-w89net84z8] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}
input[b-w89net84z8] {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1rem;
    width: 100%;
}

@media (max-width: 1440px) {
    .card[b-w89net84z8]{
        width: 100%;
        height: 500px;
    }

}

/* _content/Blazor/Components/Transaction.razor.rz.scp.css */
.transaction-box[b-nfvptgmvgz]{
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}

.leftPart[b-nfvptgmvgz]{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.midPart[b-nfvptgmvgz]{
    display: flex;
    width: 40%;
    justify-content: center;
}

.rightPart[b-nfvptgmvgz]{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    font-size: calc(12px + 0.4vw);
}
.title[b-nfvptgmvgz]{
    calc(15px + 0.4vw);
    margin: 0;
}

.time[b-nfvptgmvgz]{
    margin: 0;
    font-size: calc(9px + 0.4vw);
    color: rgb(128,128,128);
}

.date[b-nfvptgmvgz]{
    font-size: calc(9px + 0.4vw);
    color: rgb(128,128,128);
    margin: 0;
}

.transaction-box:hover[b-nfvptgmvgz]{
    
}

/* _content/Blazor/Components/TransactionsList.razor.rz.scp.css */
.content[b-g29z3ljlja]{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.card[b-g29z3ljlja]{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
    width: 40rem;
    color: white;
    padding: 5px;
    height: 800px;
    overflow-y: scroll;
}

[b-g29z3ljlja]::-webkit-scrollbar{
    width: 9px;
}

[b-g29z3ljlja]::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 15px;
}

.search-bar[b-g29z3ljlja]{
    margin: 2%;
}
.transactions-list[b-g29z3ljlja]{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgb(20, 20, 20);
    margin: 0;
}

.empty-block[b-g29z3ljlja]{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyText[b-g29z3ljlja]{
    font-size: calc(14px + 00.3vh);
    color: grey;
    margin: 0;
    padding: 2%;
}

.search-bar input[b-g29z3ljlja]{
    width: 100%;
    
}


@media (max-width: 1440px) {
    .card[b-g29z3ljlja]{
        width: 100%;
        height: 500px;
    }
    
}
/* _content/Blazor/Components/TransferForm.razor.rz.scp.css */
.content[b-rejosl2h7o]{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card[b-rejosl2h7o]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}

.card div[b-rejosl2h7o] {
    padding: 1rem;
}

.submitButton[b-rejosl2h7o]{
    display: flex;
    justify-content: center;
    align-content: center;
}

button[b-rejosl2h7o] {
    background-color: inherit;
    width: calc(30% + 20px);
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

button:hover[b-rejosl2h7o] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}

input[b-rejosl2h7o], select[b-rejosl2h7o], option[b-rejosl2h7o]{
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 1rem;
    width: 100%;
}

label[b-rejosl2h7o] {
    display: block;
    margin-bottom: 0.5rem;
}

/* _content/Blazor/Components/UserDetails.razor.rz.scp.css */
.box[b-o1ibr4neq7] {
    height: auto;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: rgb(27, 27, 27);
    color: white;
    flex-direction: column;
}

select[b-o1ibr4neq7]{
    border: transparent;
    border-radius: 2px;
    padding: 1rem;
    background-color: transparent;
    font-size: calc(15px * 0.4vw);
    font-weight: 400;
    color: white;
}

select option[b-o1ibr4neq7]{
    color: black;
}

.box-info[b-o1ibr4neq7]{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.balance[b-o1ibr4neq7] {
    text-align: left;
    width: 49%;
    font-size: calc(16px + 0.4vw);
}

.box-buttons[b-o1ibr4neq7]{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(20, 20, 20);
    width: 20%;
    padding: 10px;
}

.buttons-content[b-o1ibr4neq7]{
    float: right;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 100%;
    justify-content: flex-end;
}

.userDetailsButton[b-o1ibr4neq7]{
    text-decoration: none;
    align-self: flex-end;
    justify-self: flex-end;
    height: auto;
    padding: 2%;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.2s;
    width: 100%;
}

.box-buttons:hover[b-o1ibr4neq7] {
    background-color: #420000;
    transition: 0.2s;
}


@media (min-width: 1441px) {
    .box[b-o1ibr4neq7]{
        width: 50%;
    }
    .box-buttons[b-o1ibr4neq7]{
        width: 25%;
    }
}

@media (max-width: 1440px) {
    .box[b-o1ibr4neq7]{
        width: 98%;
    }
    .box-buttons[b-o1ibr4neq7]{
        width: 50%;
    }
}
/* _content/Blazor/Pages/CustomerService.razor.rz.scp.css */
.content[b-3cu29tzlu1]{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 1000px;
}

.card[b-3cu29tzlu1]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(27, 27, 27);
    border-radius: 2px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 1rem;
    width: 40rem;
    color: white;
}
[b-3cu29tzlu1]::-webkit-scrollbar{
    width: 9px;
}
[b-3cu29tzlu1]::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 15px;
}
input[b-3cu29tzlu1] {
    border: 1px solid #ccc;
    border-radius: 2px;
    /*padding: 1rem;*/
    width: 100%;
}

label[b-3cu29tzlu1] {
    display: block;
    margin-bottom: 0.5rem;
}
.description[b-3cu29tzlu1]{
    display: block;
    margin-bottom: 0.5rem;
    height: 200px;
}
button[b-3cu29tzlu1] {
    background-color: inherit;
    width: calc(30% + 20px);
    border: none;
    color: #fff;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

button:hover[b-3cu29tzlu1] {
    transition: 0.2s ease-in-out;
    background-color: #420000;;
    cursor: pointer;
}

p[b-3cu29tzlu1]{
    color: white;
}
h1[b-3cu29tzlu1], h2[b-3cu29tzlu1], h3[b-3cu29tzlu1], h4[b-3cu29tzlu1], h5[b-3cu29tzlu1], h6[b-3cu29tzlu1]
{
    color: white;
}

#body[b-3cu29tzlu1]{
    height: 200px;
    border: solid 1px white;
}
.flexColumn[b-3cu29tzlu1]
{
    display: flex;
    align-content: center;
}

.messageBox[b-3cu29tzlu1]{
    margin: 40px auto;
    width: 70%;
}
#messageh5[b-3cu29tzlu1]{
    margin-bottom: 10px;
}
#messageBody[b-3cu29tzlu1]
{
    height: 100px;
}
#messageButton[b-3cu29tzlu1]{
    position: relative;
    right: 0;
}
/* _content/Blazor/Pages/Deposit.razor.rz.scp.css */
/* _content/Blazor/Pages/Home.razor.rz.scp.css */
.content[b-kocgbznukq]{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
/* _content/Blazor/Pages/Index.razor.rz.scp.css */
.content[b-yc7mlmln1x] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card[b-yc7mlmln1x] {
    color: white;
    padding: 1%;
    background: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card h1[b-yc7mlmln1x]{
    color: white;
    font-weight: 700;
}

.field[b-yc7mlmln1x] {
    margin-top: 20px;
    width: 80%;
}

.field input:-webkit-autofill[b-yc7mlmln1x]{
    font-size: calc(15px + 0.4vh);
}

.field input[b-yc7mlmln1x]
{
    padding: 2%;
    width: 100%;
    font-size: calc(15px + 0.4vh);
    border-radius: 10px;
    outline: none;
}

.loginbtn[b-yc7mlmln1x], .registerbtn[b-yc7mlmln1x] {
    color: white;
    border-radius: 10px;
    width: 50%;
    padding: 2%;
    font-size: 1.5rem;
    background: linear-gradient(to bottom right, #60151c , #050518 );
    background-size: 100% 200%;
    transition: all .5s ease-out;
}

.loginbtn:hover[b-yc7mlmln1x]{
    background-position: right bottom;
}

.loginArrow[b-yc7mlmln1x] {
    display: inline-block;
    font-size: 1.7rem;
    transition: transform 0.5s ease;
}

.loginbtn:hover .loginArrow[b-yc7mlmln1x]{
    transform: rotate(360deg);
}

.registerbtn[b-yc7mlmln1x]{
    font-size: 1rem;
    width: 30%;
    background: linear-gradient(to bottom right, #60151c , #050518 );
    background-size: 100% 200%;
    transition: all .5s ease-out;
}

.registerbtn:hover[b-yc7mlmln1x]{

    background-position: right bottom;
}



@media (max-width: 640px) {
    .card[b-yc7mlmln1x]{
        width: 100%;
    }
    .loginbtn[b-yc7mlmln1x]{
        width: 80%;
    }
    .registerbtn[b-yc7mlmln1x]{
        width: 60%;
    }
    .content[b-yc7mlmln1x]{
        width: 100%;
    }
}

/* _content/Blazor/Pages/LoginButtons.razor.rz.scp.css */
.icon[b-sejvdau62l] {
    width: 30px;
    cursor: pointer;
}
/* _content/Blazor/Pages/Register.razor.rz.scp.css */
.content[b-8xlal766b8] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card[b-8xlal766b8] {
    color: white;
    padding: 1%;
    background: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.card h1[b-8xlal766b8]{
    color: white;
    font-weight: 700;
}

.field[b-8xlal766b8] {
    width: 80%;
}

.field input:-webkit-autofill[b-8xlal766b8]{
    font-size: calc(15px + 0.4vh);
}

.field input[b-8xlal766b8]
{
    padding: 2%;
    width: 100%;
    font-size: calc(15px + 0.4vh);
    border-radius: 10px;
    outline: none;
}

.plansBox[b-8xlal766b8]{
    display: flex;
    flex-direction: row;
    margin: 2%;
}

.plan[b-8xlal766b8]{
    position: static;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.2s ease-in-out;
}

.plan p[b-8xlal766b8]{
    align-self: center;
    font-size: calc(14px + 0.4vw);
}

ul[b-8xlal766b8]{
    list-style-type: none;
}

.plan button[b-8xlal766b8]{
    border: 1px solid white;
    border-radius: 10px;
    font-size: calc(12px + 0.4vw);
    background-color: transparent;
    color: white;
    transition: 0.2s ease-in-out;
}

.plan button:hover[b-8xlal766b8]{
    color: black;
    background-color: white;
}

.plan:hover[b-8xlal766b8]{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px white;
    z-index: 2;
}

.registerButton[b-8xlal766b8]{
    width: 80%;
    font-size: calc(17px + 0.4vw);
    font-weight: 500;
    border-radius: 10px;
    padding: 1%;
    color: white;
    background: linear-gradient(to bottom right, #60151c , #050518 );
    background-size: 100% 200%;
    transition: all .5s ease-out;
}

.registerButton:hover[b-8xlal766b8]{
    background-position: right bottom;
}
/* _content/Blazor/Pages/Settings.razor.rz.scp.css */
/* _content/Blazor/Pages/Transactions.razor.rz.scp.css */
.content[b-2rc8x72get]{
    display: flex;
    align-content: center;
    justify-content: center;
}


@media (max-width: 1440px) {
    .card[b-2rc8x72get]{
        width: 100%;
    }
}
/* _content/Blazor/Pages/Transfer.razor.rz.scp.css */
/* _content/Blazor/Shared/MainLayout.razor.rz.scp.css */
.page[b-qt6tgh2907] {
    position: relative;
    display: flex;
    background-image: url("./images/LoginBackground.png");
    height: 100vh;
    background-size: cover;
    flex-direction: row;
}

main[b-qt6tgh2907] {
    flex: 1;
    height: auto;
    background-size: cover;
    z-index: 1;
}

.sidebar[b-qt6tgh2907]{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    z-index: 2;
}


.top-row[b-qt6tgh2907] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    width: 100%;
}

    .top-row a[b-qt6tgh2907], .top-row .btn-link[b-qt6tgh2907] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-qt6tgh2907] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (min-width: 1441px) {
    .sidebar[b-qt6tgh2907]{
        position: relative;
        left: 20%;
        width: 300px;
    }
}

@media (max-width: 1440px) {
    
    .page[b-qt6tgh2907]{
        flex-direction: column;
    }
    .top-row:not(.auth)[b-qt6tgh2907] {
        display: none;
    }

    .top-row.auth[b-qt6tgh2907] {
        justify-content: space-between;
    }

    .top-row a[b-qt6tgh2907], .top-row .btn-link[b-qt6tgh2907] {
        margin-left: 0;
    }

    .sidebar[b-qt6tgh2907] {
        left: 0;
        width: 100%;
        position: sticky;
        top: 0;
    }

    .top-row[b-qt6tgh2907] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-qt6tgh2907], article[b-qt6tgh2907] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
 

/* _content/Blazor/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-32xpj7b96w] {
    background-color: rgba(255, 255, 255, 0.1);
}


.top-row[b-32xpj7b96w] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    background-color: rgba(0,0,0,0.4);
}


.oi[b-32xpj7b96w] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.logOutBtn[b-32xpj7b96w]{
    justify-self: flex-end;
}

.nav-item[b-32xpj7b96w] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-32xpj7b96w] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-32xpj7b96w] {
        padding-bottom: 1rem;
    }

    .nav-item[b-32xpj7b96w]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-32xpj7b96w]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-32xpj7b96w]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.container-fluid[b-32xpj7b96w]{
    justify-content: flex-start;
}

.userName[b-32xpj7b96w]{
    color: white;
    font-size: calc(17px + 0.4vh);
    align-content: center;
    margin-top: 1rem;
}

.avatar[b-32xpj7b96w]{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-scrollable[b-32xpj7b96w]{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px) ;
}

@media (min-width: 1441px) {
    .top-row[b-32xpj7b96w]{
        width: 100%;
    }
    
    
    .navbar-toggler[b-32xpj7b96w] {
        display: none;
    }

    .collapse[b-32xpj7b96w] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-32xpj7b96w] {
        
    }
    
}

@media (max-width: 1440px) {
    .container-fluid[b-32xpj7b96w]{
        padding: 0;
        width: 100%;
        justify-content: space-evenly;
    }
    .top-row[b-32xpj7b96w]{
        width: 100%;
    }
    .userName[b-32xpj7b96w]{
        margin-left: 1%;
    }
    .navbar-toggler[b-32xpj7b96w]{
    }
    .nav-scrollable[b-32xpj7b96w]
    { 
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        width: 100%;
    }
}
