@page "/deposit"
@using Blazor.Services.Http
@attribute [Authorize]
@inject NavigationManager navMgr
@inject ITransactionService transactioService

<div class="content">
    
    <div class="card">
        <div>
            <label>Card number: </label>
            <input type="text" @bind="accountNumber" >
        </div>
        <div>
            <label>Amount: </label>
            <input type="number" placeholder="Amount in Danish Krone" @bind="amount">
        </div>
        <div class="submitButton">
            <button @onclick="Create">Top Up</button>
        </div>
    </div>
</div>

@code
{
    private string accountNumber;
    private double amount;
    
    private async Task Create()
    {
        try
        {
            await transactioService.deposit(accountNumber, amount);
        }
        catch (Exception e)
        {
            throw e;
        }
    }
}
