@page "/home"
@attribute [Authorize]
@using Blazor.Components


<LoadingBox @ref="loadingRef"></LoadingBox>
<AuthorizeView>
    <div class="content">
        <Blazor.Components.UserDetails User="@context.User" Loading="loadingRef"></Blazor.Components.UserDetails>
        <Blazor.Components.RecentTransactions Email="@context.User.FindFirst("Email").Value" Loading="loadingRef"></Blazor.Components.RecentTransactions>
    </div>
</AuthorizeView>

@code {
    public LoadingBox loadingRef;
}