@page "/"
@using Blazor.Services
@inject IAuthService authService
@inject NavigationManager navMgr


<div class="indexBody">
    <div class="content">
    <AuthorizeView>
        <NotAuthorized>
            <div class="card">
                <h1>Access Account</h1>
                <div class="field">
                    <input type="text" @bind="email" @onkeydown="Login" placeholder="Email"/>
                </div>
                <div class="field">
                    <input type="password" @bind="password" @onkeydown="Login" placeholder="Password"/>
                </div>
                @if (!string.IsNullOrEmpty(errorLabel))
                {
                    <div class="field">
                        <label style="color: red">
                            @errorLabel
                        </label>
                    </div>
                }
                <button class="loginbtn" @onclick="LoginAsync">Log in <span class="loginArrow">></span></button>
                <button class="registerbtn">Need an account?</button>
            </div>
        </NotAuthorized>
        <Authorized>
            <div class="card">
                <h3>Hello, @context.User.Identity.Name</h3>
            </div>
        </Authorized>
    </AuthorizeView>
    </div>
</div>
        


@code {
    private string email;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            await authService.LoginAsync(email, password);
            navMgr.NavigateTo("/home");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }

    private async Task Login(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await LoginAsync();
        }
    }


}