@page "/transactions"
@attribute [Authorize]
<PageTitle>Transactions</PageTitle>

<!-- Maybe have a search bar over here, to look for some transactions made to/from a specific person/merchant -->

<div class="content">
    
    <div class="search-bar">
        <input type="text" placeholder="Looking for something?" class="">
    </div>

    <div>
        @if (@transactions?.Count == 0)
        {
            <div>
                <p >You have not made any transactions</p>
            </div>
        }
        else if (@transactions != null)
        {
            foreach (string i in @transactions)
            {
                <p>@i</p>
            }
        }
    </div>
</div>

@code{

    public List<string>? transactions; 

    
    //add the code to request the list
    private async Task RequestInformation()
    {
        transactions = await GetTransactions();
    }

    private async Task<List<string>> GetTransactions()
    {
        await Task.Delay(1000);

        return new List<string> { "Kantinen Horsens 25 dkk", "Bilka 28 dkk", "Wolt 200 dkk" };
    }


    protected override async Task OnInitializedAsync()
    {
        await RequestInformation();
    }
}